Api/appsettings.Development.json
Api/appsettings.json
Application/obj/Debug/
Application/bin/Debug/
Api/obj/Debug/
Api/bin/Debug/
Infrastructure/bin/Debug
Infrastructure/obj/Debug
Domain/obj/Debug/

*.info