Api/appsettings.Development.json
Api/appsettings.json
Application/obj/
Application/bin/Debug/
Api/obj/
Api/bin/Debug/
Infrastructure/bin/Debug
Infrastructure/obj/
Domain/obj/
Domain/bin/Debug/

*.info